*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color:rgb(223, 208, 184);
}

.container{
    display: flex;
    flex-direction: column;
}
    .containerHeader{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #DFD0B8;
        z-index: 1000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }   
        .containerLogo{
            display: flex;
            flex-wrap: wrap;
        }
            .img{
                width: 80%;
                height: 80%;
            }
        .containerBotoes{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: space-around;
        }
        .botoes{
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-size: x-large;
            color: rgb(60, 91, 111);
        }

.containerConteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../Images/capaLogin.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* Estilização do logo */
.containerConteudo h1 {
    font-family: "Lily Script One", system-ui;
    font-size: 82px;
    color: #DFD0B8;
    text-shadow: 4px 4px 15px #153448;
    
}

/* Caixa de login */
.containerLogin {
    background-color: #153448;
    padding: 30px;
    border-radius: 25px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #DFD0B8;
    margin-top: 80px; 
}

.containerLogin label {
    display: block;
    text-align: left;
    font-size: 20px;
    margin-bottom: 5px;
    color: #DFD0B8;
    font-family: "Poppins", sans-serif;
}

.containerLogin input {
    width: 95%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #DFD0B8;
    border:#948979;
    color: #153448;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.containerLogin input:focus {
    outline: auto;
    box-shadow: 0 0 5px #3C5B6F;
    font-family: "Poppins", sans-serif;
}

.containerLogin button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #DFD0B8;
    color: #153448;
    font-size: 18px;
    cursor: pointer;
}

.containerLogin button:hover {
    background-color: #3C5B6F;
    color: #DFD0B8;
}

.containerVazio{
    display:flex;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    font-family: "Poppins", sans-serif;
    color: #3C5B6F;
}

.containerBtn{
    margin: 1%;
}
.containerLogin a{
    color: #DFD0B8;
}
.containerLogin a:hover{
    color: #948979;
}

a{
    color: #3C5B6F;
    text-decoration: none;
}
a:hover{
    color: rgb(21, 52, 72);
}